.all {
    background: white;
    width: 376px;
    height: 700px;
    border: 1px solid black;
    border-radius: 20px;

}

.header {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}

input:focus {
    outline:none;
}

.content {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 20px;
}

.profile {
    width: 100px;
    height: 30px;
    background: #489CCB;
    color: white;
    margin-left: 110px;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 15px;
    cursor: pointer;
}

.name {
    margin-left: 100px;
    margin-top: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 180px;
    border-color: rgb(180, 180, 180);
}

.email {
    margin-left: 80px;
    margin-top: 70px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgb(180, 180, 180);
    width: 180px;
}

.openChat {
    margin-top: 70px;
    width: 160px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgb(180, 180, 180);
}

.kakao {
    width: 20px;
    margin-left: 60px;
    border-radius: 5px;
}

.saveBtn {
    width: 78px;
    height: 30px;
    background: #489CCB;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-top: 60px;
    margin-left: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}